<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byd.bms.plan.dao.IPlanDao">

	<select id="checkImportPlanFactory" parameterType="Map" resultType="String">
		SELECT id FROM BMS_OR_FACTORY_ORDER WHERE order_id = (SELECT
		id FROM BMS_OR_ORDER WHERE order_no=#{order_no})
		AND factory_id = (SELECT id FROM BMS_BASE_FACTORY WHERE factory_name = #{factory_name})
		limit 1
	</select>
	
	<insert id="insertPlanMaster" useGeneratedKeys="true" keyProperty="id" parameterType="com.byd.bms.plan.model.PlanMasterPlan">
		INSERT INTO BMS_PLAN_MASTER_PLAN
		(version, order_id, factory_id, plan_code_value, plan_month, flag, D1, D2, D3, D4, D5, D6, D7, D8, D9, D10, D11, D12, D13, D14, D15, D16, D17, D18, D19, D20, D21, D22, D23, D24, D25, D26, D27, D28, D29, D30, D31, creator_id, create_date)
		VALUES(#{version}, (SELECT id FROM BMS_OR_ORDER WHERE order_no = #{order_no}), (SELECT id FROM BMS_BASE_FACTORY WHERE factory_name = #{factory_name}),
		(SELECT value FROM BMS_BASE_KEY WHERE key_code = 'PLAN_CODE' AND key_name = #{plan_code_keyname}),
		#{plan_month}, #{flag}, #{D1}, #{D2}, #{D3}, #{D4}, #{D5}, #{D6}, #{D7}, #{D8}, #{D9}, #{D10}, 
		#{D11}, #{D12}, #{D13}, #{D14}, #{D15}, #{D16}, #{D17}, #{D18}, #{D19}, #{D20}, 
		#{D21}, #{D22}, #{D23}, #{D24}, #{D25}, #{D26}, #{D27}, #{D28}, #{D29}, #{D30}, #{D31}, 
		#{creator_id}, #{create_date})
	</insert>
	
	<select id="checkProductionPlan" parameterType="Map" resultType="Map">
		SELECT * FROM BMS_PLAN_PRODUCTION_PLAN WHERE order_id = 
		(SELECT id FROM BMS_OR_ORDER WHERE order_no=#{order_no})
		AND factory_id = (SELECT id FROM BMS_BASE_FACTORY WHERE factory_name = #{factory_name})
		AND REPLACE(plan_date,'-','') LIKE CONCAT('%',#{plan_date},'%')
	</select>
	
</mapper>
