<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byd.bms.plan.dao.IPlanDao">

	<select id="checkImportPlanFactory" parameterType="Map" resultType="String">
		SELECT p.id FROM BMS_NA_PROJECT p WHERE 
		p.production_plant = #{factory_name} AND p.project_no = #{project_no} LIMIT 1
	</select>
	
	<insert id="insertPlanMaster" useGeneratedKeys="true" keyProperty="id" parameterType="com.byd.bms.plan.model.PlanMasterPlan">
		INSERT INTO BMS_NA_PROJECT_MASTER_PLAN
		(version, project_id, plan_node_value, plan_node, month, flag, D1, D2, D3, D4, D5, D6, D7, D8, D9, D10, D11, D12, D13, D14, D15, D16, D17, D18, D19, D20, D21, D22, D23, D24, D25, D26, D27, D28, D29, D30, D31, editor_id, edit_date)
		VALUES(#{version}, (SELECT PR.id FROM BMS_NA_PROJECT PR WHERE PR.project_no = #{project_no}),
		(SELECT value FROM BMS_NA_BASE_KEY WHERE key_code = 'PLAN_CODE' AND key_name_en = #{plan_node}),#{plan_node},
		#{month}, #{flag}, #{D1}, #{D2}, #{D3}, #{D4}, #{D5}, #{D6}, #{D7}, #{D8}, #{D9}, #{D10}, 
		#{D11}, #{D12}, #{D13}, #{D14}, #{D15}, #{D16}, #{D17}, #{D18}, #{D19}, #{D20}, 
		#{D21}, #{D22}, #{D23}, #{D24}, #{D25}, #{D26}, #{D27}, #{D28}, #{D29}, #{D30}, #{D31}, 
		#{creator_id}, #{create_date})
	</insert>
	<select id="getPlanMasterIndex" parameterType="Map" resultType="Map">
		SELECT DISTINCT
		m.version,p.project_no,m.month,p.production_plant AS factory_name,u.display_name,m.edit_date AS create_date FROM
		BMS_NA_PROJECT_MASTER_PLAN m
		LEFT JOIN BMS_NA_PROJECT p ON m.project_id = p.id
		LEFT JOIN BMS_NA_BASE_USER u ON m.editor_id = u.staff_number
		<if test="production_plant != ''">
			and p.production_plant = #{production_plant}
		</if>
		<if test="project_no != ''">
			and p.project_no like CONCAT('%',#{project_no},'%')
		</if>
		AND flag = '0'
		ORDER BY m.version DESC
		<if test="offset!=null">
			LIMIT #{start} ,#{length} 
		</if>
	</select>
	<select id="getPlanMasterCount" parameterType="Map" resultType="int">
		SELECT COUNT(DISTINCT m.version) FROM
		BMS_NA_PROJECT_MASTER_PLAN m
		LEFT JOIN BMS_NA_PROJECT p ON m.project_id = p.id
		LEFT JOIN BMS_NA_BASE_USER u ON m.editor_id = u.staff_number
		<if test="production_plant != ''">
			and p.production_plant = #{production_plant}
		</if>
		<if test="project_no != ''">
			and p.project_no like CONCAT('%',#{project_no},'%')
		</if>
		AND flag = '0'
	</select>
	
	<update id="updatePlanMasterInfo" parameterType="com.byd.bms.plan.model.PlanMasterPlan">
		<![CDATA[
		UPDATE BMS_NA_PROJECT_MASTER_PLAN SET version=#{version},project_id=#{project_id},
		plan_node_value=#{plan_node_value},
		month=#{month},
		flag=#{flag},D1=#{D1},D2=#{D2},D3=#{D3},D4=#{D4},D5=#{D5},D6=#{D6},D7=#{D7},D8=#{D8},D9=#{D9},D10=#{D10},D11=#{D11},
		D12=#{D12},D13=#{D13},D14=#{D14},D15=#{D15},D16=#{D16},D17=#{D17},D18=#{D18},D19=#{D19},D20=#{D20},D21=#{D21},D22=#{D22},
		D23=#{D23},D24=#{D24},D25=#{D25},D26=#{D26},D27=#{D27},D28=#{D28},D29=#{D29},D30=#{D30},D31=#{D31}
		WHERE id=#{id}
		]]>
	</update>
	
	<update id="deleteProductionPlan" parameterType="Map">
		DELETE FROM BMS_NA_PROJECT_PRODUCTION_PLAN WHERE 
		project_id = (SELECT PR.id FROM BMS_NA_PROJECT PR WHERE PR.project_no = #{project_no})
		AND plan_code_value = (SELECT value FROM BMS_NA_BASE_KEY WHERE key_code = 'PLAN_CODE' AND key_name_en = #{plan_node})
		AND plan_date LIKE CONCAT('%',#{plan_month},'%')
		<if test="cur_day != ''">
		AND plan_date > #{cur_day}
		</if>
	</update>
	<update id="deleteOneProductionPlan" parameterType="Map">
		DELETE FROM BMS_NA_PROJECT_PRODUCTION_PLAN WHERE 
		project_id = #{project_id}
		AND plan_code_value = #{plan_code_value}
		AND plan_date = #{cur_day}
	</update>
	<insert id="insertProductionPlan" parameterType="Map">
	INSERT INTO BMS_NA_PROJECT_PRODUCTION_PLAN
	(project_id, plant_id, plan_code_value, plan_date, plan_qty,creator_id, creat_date, releaser_id, release_date)
	VALUES((SELECT PR.id FROM BMS_NA_PROJECT PR WHERE PR.project_no = #{project_no}),
	(SELECT id FROM BMS_NA_BASE_FACTORY WHERE factory_name = #{factory_name}),
	(SELECT value FROM BMS_NA_BASE_KEY WHERE key_code = 'PLAN_CODE' AND key_name_en = #{plan_node}),
	#{plan_date}, #{plan_qty},#{userid}, #{curTime},#{userid}, #{curTime})
	</insert>
	<insert id="insertOneProductionPlan" parameterType="Map">
	INSERT INTO BMS_NA_PROJECT_PRODUCTION_PLAN
	(project_id, plant_id, plan_code_value, plan_date, plan_qty,creator_id, creat_date, releaser_id, release_date)
	VALUES(#{project_id},
	#{plant_id},
	#{plan_code_value},
	#{plan_date}, #{plan_qty},(SELECT staff_number FROM BMS_NA_BASE_USER WHERE id = #{userid}), #{curTime},(SELECT staff_number FROM BMS_NA_BASE_USER WHERE id = #{userid}), #{curTime})
	</insert>
	
	<select id="getPlanMasterList" parameterType="Map" resultType="com.byd.bms.plan.model.PlanMasterPlan">
		SELECT
		m.D1+m.D2+m.D3+m.D4+m.D5+m.D6+m.D7+m.D8+m.D9+m.D10+m.D11+m.D12+m.D13+m.D14+m.D15+m.D16+m.D17+m.D18+m.D19+m.D20+
		m.D21+m.D22+m.D23+m.D24+m.D25+m.D26+m.D27+m.D28+m.D29+m.D30+m.D31 AS
		sumQty, k.key_name_en AS plan_node, m.*,o.project_no AS project_no,o.production_plant AS factory_name
		FROM BMS_NA_PROJECT_MASTER_PLAN m
		LEFT JOIN BMS_NA_PROJECT o ON m.project_id = o.id
		LEFT JOIN BMS_NA_BASE_KEY k ON m.plan_node_value=k.value AND key_code = 'PLAN_CODE' 
		where 1=1 and o.production_plant=#{factory_name}
		<if test="version!='' and version!=null">
			AND version = #{version}
			AND flag = (SELECT MAX(flag+0)
			FROM
			BMS_NA_PROJECT_MASTER_PLAN WHERE version = #{version})
		</if>
		<if test="plan_month!='' and plan_month!=null">
			AND m.month = #{plan_month}
			and m.version=(select m1.version from BMS_NA_PROJECT_MASTER_PLAN m1
			where m1.month = #{plan_month} and m1.project_id=m.project_id
			order by cast(m1.version as unsigned) desc,cast(m1.flag as unsigned) desc limit 1) 
			and m.flag=(select m1.flag from BMS_NA_PROJECT_MASTER_PLAN m1
			where m1.month = #{plan_month} and m1.project_id=m.project_id
			order by cast(m1.version as unsigned) desc,cast(m1.flag as unsigned) desc limit 1)			
		</if>
		<if test="project_no != '' and project_no != null">
			and project_id = (SELECT PR.id FROM BMS_NA_PROJECT PR WHERE PR.project_no = #{project_no})
			AND month=#{plan_month}
			
		</if>
		ORDER BY m.version DESC,m.flag DESC,m.month,(m.plan_node_value+0)
	</select>
	
	<insert id="insertOperateChangeLog" useGeneratedKeys="true" keyProperty="id" parameterType="com.byd.bms.util.model.BmsBaseOperateChangeLog">
		<![CDATA[
		insert into BMS_NA_BASE_OPERATE_CHANGE_LOG (
		operate_change_type_id,table_name,field_id,field_name,old_value,new_value,changer_id,change_date)
		VALUES(
		#{operate_change_type_id},#{table_name},#{field_id},#{field_name},#{old_value},#{new_value},#{changer_id},#{change_date})
		]]>
	</insert>
	
	<select id="getPlanSerach" parameterType="Map" resultType="Map">
		select record.order_desc,record.key_name as key_name,record.production_qty,record.id,record.project_no,
		ifnull(record.real_qty,0) real_qty,ifnull(record.total_qty,0) total_qty,ifnull(p.total_plan_qty,0) total_plan_qty 
		from
		(
		SELECT 'welding_online' key_name,p.id,p.project_no,tmp.real_qty,tmp.total_qty,SUM(p.quantity) production_qty,
		p.project_name order_desc FROM BMS_NA_PROJECT p
		LEFT JOIN (
			select count(distinct b1.bus_number) real_qty,count(distinct b.bus_number) total_qty,b.project_id
			from BMS_NA_PROJECT_BUS b 
			left join BMS_NA_PROJECT_BUS b1 on b.id=b1.id 
			<if test="start_date !=null and start_date !=''">
				and b1.welding_online > CONCAT(#{start_date},' 00:00:00')
			</if>
			<if test="end_date !=null and end_date !=''">
				and b1.welding_online &lt;= CONCAT(#{end_date},' 23:59:59')
			</if>
			where b.welding_online != '' group by b.project_id
			) tmp ON tmp.project_id=p.id
		WHERE p.production_plant= #{factory_name}
		AND p.project_no = #{project_no}
		GROUP BY p.id
	
		union all
		SELECT 'welding_offline' key_name,p.id,p.project_no,tmp.real_qty,tmp.total_qty,SUM(p.quantity) production_qty,
		p.project_name order_desc FROM BMS_NA_PROJECT p
		LEFT JOIN (
			select count(distinct b1.bus_number) real_qty,count(distinct b.bus_number) total_qty,b.project_id
			from BMS_NA_PROJECT_BUS b 
			left join BMS_NA_PROJECT_BUS b1 on b.id=b1.id 
			<if test="start_date !=null and start_date !=''">
				and b1.welding_offline > CONCAT(#{start_date},' 00:00:00')
			</if>
			<if test="end_date !=null and end_date !=''">
				and b1.welding_offline &lt;= CONCAT(#{end_date},' 23:59:59')
			</if>
			where b.welding_offline != '' group by b.project_id
			) tmp ON tmp.project_id=p.id
		WHERE p.production_plant= #{factory_name}
		AND p.project_no = #{project_no}
		GROUP BY p.id
		
		union all
		SELECT 'painting_online' key_name,p.id,p.project_no,tmp.real_qty,tmp.total_qty,SUM(p.quantity) production_qty,
		p.project_name order_desc FROM BMS_NA_PROJECT p
		LEFT JOIN (
			select count(distinct b1.bus_number) real_qty,count(distinct b.bus_number) total_qty,b.project_id
			from BMS_NA_PROJECT_BUS b 
			left join BMS_NA_PROJECT_BUS b1 on b.id=b1.id 
			<if test="start_date !=null and start_date !=''">
				and b1.painting_online > CONCAT(#{start_date},' 00:00:00')
			</if>
			<if test="end_date !=null and end_date !=''">
				and b1.painting_online &lt;= CONCAT(#{end_date},' 23:59:59')
			</if>
			where b.painting_online != '' group by b.project_id
			) tmp ON tmp.project_id=p.id
		WHERE p.production_plant= #{factory_name}
		AND p.project_no = #{project_no}
		GROUP BY p.id
		
		union all		
		SELECT 'painting_offline' key_name,p.id,p.project_no,tmp.real_qty,tmp.total_qty,SUM(p.quantity) production_qty,
		p.project_name order_desc FROM BMS_NA_PROJECT p
		LEFT JOIN (
			select count(distinct b1.bus_number) real_qty,count(distinct b.bus_number) total_qty,b.project_id
			from BMS_NA_PROJECT_BUS b 
			left join BMS_NA_PROJECT_BUS b1 on b.id=b1.id 
			<if test="start_date !=null and start_date !=''">
				and b1.painting_offline > CONCAT(#{start_date},' 00:00:00')
			</if>
			<if test="end_date !=null and end_date !=''">
				and b1.painting_offline &lt;= CONCAT(#{end_date},' 23:59:59')
			</if>
			where b.painting_offline != '' group by b.project_id
			) tmp ON tmp.project_id=p.id
		WHERE p.production_plant= #{factory_name}
		AND p.project_no = #{project_no}
		GROUP BY p.id
		
		union all
		SELECT 'chassis_online' key_name,p.id,p.project_no,tmp.real_qty,tmp.total_qty,SUM(p.quantity) production_qty,
		p.project_name order_desc FROM BMS_NA_PROJECT p
		LEFT JOIN (
			select count(distinct b1.bus_number) real_qty,count(distinct b.bus_number) total_qty,b.project_id
			from BMS_NA_PROJECT_BUS b 
			left join BMS_NA_PROJECT_BUS b1 on b.id=b1.id 
			<if test="start_date !=null and start_date !=''">
				and b1.chassis_online > CONCAT(#{start_date},' 00:00:00')
			</if>
			<if test="end_date !=null and end_date !=''">
				and b1.chassis_online &lt;= CONCAT(#{end_date},' 23:59:59')
			</if>
			where b.chassis_online != '' group by b.project_id
			) tmp ON tmp.project_id=p.id
		WHERE p.production_plant= #{factory_name}
		AND p.project_no = #{project_no}
		GROUP BY p.id

		union all
		SELECT 'chassis_offline' key_name,p.id,p.project_no,tmp.real_qty,tmp.total_qty,SUM(p.quantity) production_qty,
		p.project_name order_desc FROM BMS_NA_PROJECT p
		LEFT JOIN (
			select count(distinct b1.bus_number) real_qty,count(distinct b.bus_number) total_qty,b.project_id
			from BMS_NA_PROJECT_BUS b 
			left join BMS_NA_PROJECT_BUS b1 on b.id=b1.id 
			<if test="start_date !=null and start_date !=''">
				and b1.chassis_offline > CONCAT(#{start_date},' 00:00:00')
			</if>
			<if test="end_date !=null and end_date !=''">
				and b1.chassis_offline &lt;= CONCAT(#{end_date},' 23:59:59')
			</if>
			where b.chassis_offline != '' group by b.project_id
			) tmp ON tmp.project_id=p.id
		WHERE p.production_plant= #{factory_name}
		AND p.project_no = #{project_no}
		GROUP BY p.id
		
		union all
		SELECT 'assembly_online' key_name,p.id,p.project_no,tmp.real_qty,tmp.total_qty,SUM(p.quantity) production_qty,
		p.project_name order_desc FROM BMS_NA_PROJECT p
		LEFT JOIN (
			select count(distinct b1.bus_number) real_qty,count(distinct b.bus_number) total_qty,b.project_id
			from BMS_NA_PROJECT_BUS b 
			left join BMS_NA_PROJECT_BUS b1 on b.id=b1.id 
			<if test="start_date !=null and start_date !=''">
				and b1.assembly_online > CONCAT(#{start_date},' 00:00:00')
			</if>
			<if test="end_date !=null and end_date !=''">
				and b1.assembly_online &lt;= CONCAT(#{end_date},' 23:59:59')
			</if>
			where b.assembly_online != '' group by b.project_id
			) tmp ON tmp.project_id=p.id
		WHERE p.production_plant= #{factory_name}
		AND p.project_no = #{project_no}
		GROUP BY p.id
		
		union all
		SELECT 'assembly_offline' key_name,p.id,p.project_no,tmp.real_qty,tmp.total_qty,SUM(p.quantity) production_qty,
		p.project_name order_desc FROM BMS_NA_PROJECT p
		LEFT JOIN (
			select count(distinct b1.bus_number) real_qty,count(distinct b.bus_number) total_qty,b.project_id
			from BMS_NA_PROJECT_BUS b 
			left join BMS_NA_PROJECT_BUS b1 on b.id=b1.id 
			<if test="start_date !=null and start_date !=''">
				and b1.assembly_offline > CONCAT(#{start_date},' 00:00:00')
			</if>
			<if test="end_date !=null and end_date !=''">
				and b1.assembly_offline &lt;= CONCAT(#{end_date},' 23:59:59')
			</if>
			where b.assembly_offline != '' group by b.project_id
			) tmp ON tmp.project_id=p.id
		WHERE p.production_plant= #{factory_name}
		AND p.project_no = #{project_no}
		GROUP BY p.id
		
		union all
		SELECT 'warehousing' key_name,p.id,p.project_no,tmp.real_qty,tmp.total_qty,SUM(p.quantity) production_qty,
		p.project_name order_desc FROM BMS_NA_PROJECT p
		LEFT JOIN (
			select count(distinct b1.bus_number) real_qty,count(distinct b.bus_number) total_qty,b.project_id
			from BMS_NA_PROJECT_BUS b 
			left join BMS_NA_PROJECT_BUS b1 on b.id=b1.id 
			<if test="start_date !=null and start_date !=''">
				and b1.outgoing > CONCAT(#{start_date},' 00:00:00')
			</if>
			<if test="end_date !=null and end_date !=''">
				and b1.outgoing &lt;= CONCAT(#{end_date},' 23:59:59')
			</if>
			where b.outgoing != '' group by b.project_id
			) tmp ON tmp.project_id=p.id
		WHERE p.production_plant= #{factory_name}
		AND p.project_no = #{project_no}
		GROUP BY p.id
		
		) record  
		left join 
		(
		SELECT k.key_name,sum(p1.plan_qty) total_plan_qty,p1.project_id AS order_id
		FROM BMS_NA_PROJECT_PRODUCTION_PLAN p1
		LEFT JOIN BMS_NA_BASE_KEY k ON p1.plan_code_value=k.value AND key_code = 'PLAN_CODE'
		WHERE  p1.plant_id=#{factory_id}
		<if test="start_date !=null and start_date !=''">
			and p1.plan_date >=#{start_date}
		</if>
		<if test="end_date !=null and end_date !=''">
			and p1.plan_date &lt;=#{end_date}
		</if>
		group by p1.project_id,k.key_name
		) p on p.key_name=record.key_name and p.order_id=record.id
		left join BMS_NA_BASE_KEY k on record.key_name=k.key_name
		WHERE (p.total_plan_qty>0 OR record.real_qty >0)
		<if test="workshop !=null and workshop !=''">
			and record.key_name like concat(#{workshop},'%')
		</if>		
		order by record.project_no,cast(k.value as signed)
	</select>
	
	<select id="getPlanOrderList" parameterType="Map" resultType="Map">
		SELECT DISTINCT o.project_no AS order_no FROM BMS_NA_PROJECT_PRODUCTION_PLAN p
		LEFT OUTER JOIN BMS_NA_PROJECT o ON p.project_id = o.id
		WHERE p.plant_id = #{factory_id}	
		AND p.plan_date >= #{start_date} AND p.plan_date &lt;= #{end_date}
	</select>
	<select id="getPlanSearchPlanQty" parameterType="Map" resultType="Map">
		SELECT k.key_name,p.project_id as order_id,k.value AS plan_code_id,IFNULL(p.plan_qty,0) AS sum_plan_qty ,'0' AS sum_real_qty,
		'0' AS rate,k.id,k.key_name_en FROM BMS_NA_BASE_KEY k 
		LEFT JOIN BMS_NA_PROJECT_PRODUCTION_PLAN p ON k.value = p.plan_code_value and 
		p.project_id = (SELECT id FROM BMS_NA_PROJECT WHERE project_no = #{order_no}) AND p.plan_date = #{plan_date}	
		WHERE k.key_code = 'PLAN_CODE' AND k.delete_flag = '0' AND k.key_name_en != ''		
		<if test="workshop !=''">
			AND k.key_name LIKE CONCAT('%',#{workshop},'%')
		</if>
		GROUP BY k.id
		ORDER BY k.id 
	</select>
	<select id="getPlanSearchRealQty" parameterType="Map" resultType="int">
		SELECT COUNT(b.id) AS real_qty FROM BMS_NA_PROJECT_BUS b WHERE 
		b.project_id = (SELECT id FROM BMS_NA_PROJECT WHERE project_no = #{order_no})
		AND ${workshop} LIKE CONCAT('%',#{plan_date},'%')
	</select>
	<select id="getPlanSearchTotalMonthPlanQty" parameterType="Map" resultType="int">
		SELECT IFNULL(SUM(plan_qty),'0') AS total_month_plan_qty FROM BMS_NA_PROJECT_PRODUCTION_PLAN p WHERE 
		p.project_id = (SELECT id FROM BMS_NA_PROJECT WHERE project_no = #{order_no}) 
		AND p.plan_code_value = #{plan_code_id}
		<if test="month !=''">
			AND p.plan_date LIKE CONCAT('%',#{month},'%')
		</if>
	</select>
	<select id="getPlanSearchTotalRealQty" parameterType="Map" resultType="int">
		SELECT IFNULL(COUNT(b.id),'0') AS total_month_real_qty FROM BMS_NA_PROJECT_BUS b WHERE 
		b.project_id = (SELECT id FROM BMS_NA_PROJECT WHERE project_no = #{order_no}) 
		<if test="month !=''">
			AND ${workshop} LIKE CONCAT('%',#{month},'%')
		</if>
		<if test="month ==''">
			AND ${workshop} IS NOT NULL
		</if>
	</select>
	
</mapper>
