<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byd.bms.util.dao.IEmailDao">
	<select id="getEmailTemplet" parameterType="Map" resultType="Map">
		SELECT
		IFNULL(BMS_NA_BASE_EMAIL.`declare`,'') as `declare`,
		IFNULL(BMS_NA_BASE_EMAIL.content,'') as content,
		IFNULL(BMS_NA_BASE_EMAIL.`subject`,'') as `subject`,
		IFNULL(BMS_NA_BASE_EMAIL.inbox,'') as inbox,
		IFNULL(BMS_NA_BASE_EMAIL.cc,'') as cc,
		IFNULL(BMS_NA_BASE_EMAIL.email_type,'') as email_type,
		IFNULL(BMS_NA_BASE_EMAIL.factory_id,'') as factory_id,
		IFNULL(BMS_NA_BASE_FACTORY.factory_name,'') as factory_name
		FROM
		BMS_NA_BASE_EMAIL
		LEFT JOIN BMS_NA_BASE_FACTORY ON BMS_NA_BASE_EMAIL.factory_id =
		BMS_NA_BASE_FACTORY.id
		WHERE
		1=1
		<if test="email_type!='' and email_type!=null">
			AND email_type=#{email_type}
		</if>
	</select>
	
</mapper>
