<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byd.bms.quality.dao.IQualityDao">
	<insert id="insertFaultLib" parameterType="Map" useGeneratedKeys="true">
		<selectKey resultType="int" keyProperty="id" order="AFTER">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into BMS_NA_DEFECT_CODE 
		(defect_type,serious_level,defect_code,defect_name,editor_id,edit_date) 
		values(#{defectType},#{faultLevel},#{defectCode},#{defectName},#{editorId},#{editDate})
	</insert>
	<update id="updateFaultLib" parameterType="Map">
		update BMS_NA_DEFECT_CODE
		<set>
			defect_type=#{defectType},serious_level=#{faultLevel},defect_code=#{defectCode},defect_name=#{defectName},
			editor_id=#{editorId},edit_date=#{editDate}
		</set>
		where id=#{id}
	</update>
     <select id="getFaultLibList" parameterType="Map" resultType="Map">
     	select f.id,f.defect_type,f.serious_level,f.defect_code,f.defect_name,f.editor_id,u.username,f.edit_date
		from BMS_NA_DEFECT_CODE  f 
		left join BMS_NA_BASE_USER u on f.editor_id=u.id
		where 1=1
		<if test="defect_type !=null and  defect_type !='All'">
			and f.defect_type like CONCAT('%',#{defect_type},'%')
		</if>
		<if test="defect_name!=null and  defect_name!=''">
			and f.defect_name like CONCAT('%',#{defect_name},'%')
		</if>
		<if test="faultLevel!=null  and faultLevel.length!=0">
			and f.serious_level in
			<foreach collection="faultLevel" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		order by RIGHT(f.defect_type,1),cast(RIGHT(f.defect_code,3) as signed)
		<if test="start !=null">
			LIMIT ${start} ,${length} 
		</if>
     </select>
     <select id="getFaultLibCount" parameterType="Map" resultType="int">
		select count(f.id)
		from BMS_NA_DEFECT_CODE f 
		where 1=1
		<if test="defect_type !=null and  defect_type !='All'">
			and f.defect_type like CONCAT('%',#{defect_type},'%')
		</if>
		<if test="defect_name!=null and  defect_name!=''">
			and f.defect_name like CONCAT('%',#{defect_name},'%')
		</if>
		<if test="faultLevel!=null  and faultLevel.length!=0">
			and f.serious_level in
			<foreach collection="faultLevel" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</select>
	
	<select id="getOrderKeyPartsTemplateList" parameterType="Map" resultType="Map">
		select distinct(t.version) version,p.id,p.project_no,
		CONCAT(p.project_no,' ',p.project_name,p.bus_type,'  ',p.quantity,' ',' Bus') AS order_desc,
		p.bus_type,u.username editor,t.edit_date
		from BMS_NA_PROJECT p
		left join BMS_NA_PROJECT_TRACE_TEMPLATE t on p.id=t.project_id
<!-- 		left join BMS_NA_BASE_BUS_TYPE bt on bt.id=p.bus_type -->
		left join BMS_NA_BASE_USER u on u.id=t.editor_id
		where 1=1
		<if test="project_no !=null and project_no !=''">
			and p.project_no=#{project_no}
		</if>
		<if test="bus_type !=null and bus_type !='All'">
			and p.bus_type=#{bus_type}
		</if>
			order by p.project_no,version desc
		<if test="start !=null">
			limit #{start},#{length}
		</if>
		
	</select>
	
	<select id="getOrderKeyPartsTemplateCount" parameterType="Map" resultType="int">
		select count(DISTINCT CONCAT(IFNULL(version,''), p.id) as count from BMS_NA_PROJECT p
		left join BMS_NA_PROJECT_TRACE_TEMPLATE t on p.id=t.project_id
<!-- 		left join BMS_NA_BASE_BUS_TYPE bt on bt.id=p.bus_type -->
		left join BMS_NA_BASE_USER u on u.id=t.editor_id
		where 1=1
		<if test="project_no !=null and project_no !=''">
			and p.project_no=#{project_no}
		</if>
		<if test="bus_type !=null and bus_type !='All'">
			and p.bus_type=#{bus_type}
		</if>
			order by p.project_no desc
		<if test="start !=null">
			limit #{start},#{length}
		</if>
	</select>
	
	<select id="queryKeyPartsMaxVersion" parameterType="String" resultType="String">
		select max(version) from BMS_NA_PROJECT_TRACE_TEMPLATE where project_id=#{project_id} 
	</select>
	
	<update id='updateKeyPartsHeader' parameterType="Map">
		update BMS_QM_KEY_PARTS_TEMPLATE_HEADER set editor_id=#{editor_id} ,edit_date=#{edit_date}
		where bus_type_id=#{bus_type_id} and order_id=#{order_id} and order_config_id=#{order_config_id}
	</update>
	
	<insert id="saveKeyPartsDetails" parameterType="List" useGeneratedKeys="true" keyProperty="id" >
		<selectKey resultType="int" keyProperty="id" order="AFTER">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into BMS_NA_PROJECT_TRACE_TEMPLATE 
		(project_id,version,sap_material,parts_name,byd_pn,vendor,workshop,station,editor_id,edit_date)
		values
		<foreach collection="list" item="detail" index="index" separator=",">
			(#{detail.project_id},#{detail.version},#{detail.sap_material},#{detail.parts_name},#{detail.byd_pn},
			#{detail.vendor},#{detail.workshop},#{detail.station},#{detail.editor_id},#{detail.edit_date})
		</foreach>		
	</insert>
	
	<delete id="deleteKeyPartsByHeader" parameterType="int">
		delete from BMS_QM_KEY_PARTS_TEMPLATE_DETAILS where key_components_template_id=#{header_id}
	</delete>
	
	<select id="queryKeyPartsList" parameterType="Map" resultType="Map">
		select d.sap_mat,d.parts_no,d.parts_name,d.size,d.vendor,d.workshop,d.process,d.3C_components ccc,d.3C_no cccNo
		from BMS_QM_KEY_PARTS_TEMPLATE_DETAILS d
		left join BMS_QM_KEY_PARTS_TEMPLATE_HEADER h on d.key_components_template_id=h.id
		where h.bus_type_id=#{bus_type_id} and h.order_id=#{order_id} and h.order_config_id=#{order_config_id}
	</select>
	
	<select id="queryWorkshopProcessList" resultType="Map">
     	select workshop,process_name process from BMS_BASE_PROCESS
     	where
     	<foreach collection='addList' item='detail' index="index" separator="or" >
     		(workshop=#{detail.workshop} and process_name=#{detail.process})
     	</foreach>
     </select>
     <select id="getKeyPartsList" parameterType="Map" resultType="Map">
		select d.item_no,d.sap_material,d.parts_name,d.byd_pn,d.vendor,d.workshop,d.station
		from BMS_NA_PROJECT_TRACE_TEMPLATE d
		where d.project_id=#{project_id} and d.version=#{version}
	</select>
	<select id="getPrdRcdOrderTplList" parameterType="Map" resultType="Map">
		select distinct(t.version) version,p.id,p.project_no,
		CONCAT(p.project_no,' ',p.project_name,p.bus_type,'  ',p.quantity,' ',' Bus') AS order_desc,
		p.bus_type,u.username editor,t.edit_date
		from BMS_NA_PROJECT_INSPECTION_RECORD_TEMPLATE t
		left join BMS_NA_PROJECT p on p.id=t.project_id
		left join BMS_NA_BASE_USER u on u.id=t.editor_id
		where 1=1
		<if test="project_no !=null and project_no !=''">
			and p.project_no=#{project_no}
		</if>
		<if test="bus_type !=null and bus_type !='All'">
			and p.bus_type=#{bus_type}
		</if>
			order by p.project_no,version desc
		<if test="start !=null">
			limit #{start},#{length}
		</if>
	</select>
	
	<select id="getPrdRcdOrderTplCount" parameterType="Map" resultType="int">
		select count(distinct project_id,version) as count from BMS_NA_PROJECT_INSPECTION_RECORD_TEMPLATE t
		left join BMS_NA_PROJECT p on p.id=t.project_id
		left join BMS_NA_BASE_USER u on u.id=t.editor_id
		where 1=1
		<if test="project_no !=null and project_no !=''">
			and p.project_no=#{project_no}
		</if>
		<if test="bus_type !=null and bus_type !='All'">
			and p.bus_type=#{bus_type}
		</if>
			order by p.project_no desc
		<if test="start !=null">
			limit #{start},#{length}
		</if>
	</select>
	<select id="getProjectByNo" parameterType="Map" resultType="Map">
		select * from BMS_NA_PROJECT p where 1=1 and p.project_no=#{project_no}
	</select>
	<insert id="saveInspectionRecordTemplate" parameterType="List" useGeneratedKeys="true" keyProperty="id" >
		<selectKey resultType="int" keyProperty="id" order="AFTER">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into BMS_NA_PROJECT_INSPECTION_RECORD_TEMPLATE 
		(project_id,version,station,process_name,inspection_item,specification_and_standard,editor_id,edit_date)
		values
		<foreach collection="list" item="detail" index="index" separator=",">
			(#{detail.project_id},#{detail.version},#{detail.station},#{detail.process_name},
			#{detail.inspection_item},#{detail.specification_and_standard},#{detail.editor_id},#{detail.edit_date})
		</foreach>		
	</insert>
	<select id="queryInspectionRecordMaxVersion" parameterType="String" resultType="String">
		select max(version) from BMS_NA_PROJECT_INSPECTION_RECORD_TEMPLATE where project_id=#{project_id} 
	</select>
	<delete id="deleteInspectionRecordTemplate" parameterType="Map">
		delete from BMS_NA_PROJECT_INSPECTION_RECORD_TEMPLATE where project_id=#{project_id} and version=#{version}
	</delete>
	<select id="getPrdRcdOrderTplDetailList" parameterType="Map" resultType="Map">
		select * from BMS_NA_PROJECT_INSPECTION_RECORD_TEMPLATE d
		where d.project_id=#{project_id} and d.version=#{version}
	</select>
</mapper>
