<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byd.bms.production.dao.IProductionDao">
<!-- ########################### xiong jianwu start#############################-->
	<select id="queryLineProcessList" parameterType="Map" resultType="Map">
		SELECT p.line line_name,p.workshop workshop_name,p.factory factory_name,
		concat('[',group_concat('{"id":',p.id,',"code":"',TRIM(p.station_code),'","monitor_flag":"',p.monitory_point_flag,'","name":"',TRIM(p.station_name),'","plan_node":"',ifnull(k.key_name,''),'"}' order by p.id),']') process_list
		FROM BMS_NA_BASE_STATION p
		left join BMS_NA_BASE_KEY k on k.value=p.plan_node_id and k.key_code='PLAN_CODE'
		where p.factory=#{factory} and p.workshop=#{workshop} and p.delete_flag='0'
		group by p.line
	</select>
   <select id="getVinList" parameterType="Map" resultType="Map">
		SELECT b.*,u.username,p.edit_date FROM BMS_NA_PROJECT_BUS b
		LEFT JOIN BMS_NA_PROJECT p ON b.project_id = p.id
		LEFT JOIN BMS_NA_BASE_USER u ON u.id=p.editor_id
		where 1=1
		<if test="project_id !=null and project_id !=''">
			and b.project_id like CONCAT(#{project_id},'%')   
		</if>
		ORDER BY p.id DESC
		<if test="start !=null and length !='-1' ">
			LIMIT #{start} ,#{length} 
		</if>			
	</select>

	<select id="queryProcessMonitorList" parameterType="Map" resultType="Map">
		select p.id,p.station_code,r.station_name,k.key_name field_name,k.key_name_en plan_node_name
		from BMS_NA_BASE_SCAN_RULE r
		left join BMS_NA_BASE_STATION p on r.factory=p.factory and r.workshop=p.workshop 
		and p.line=#{line} and p.station_name=r.station_name 
		left join BMS_NA_BASE_KEY k on k.value=p.plan_node_id and k.key_code='PLAN_CODE'
		where p.monitory_point_flag='1' and p.delete_flag='0' 
		and r.factory=#{factory} and r.workshop=#{workshop} and p.line=#{line} 
		and r.order_type=#{order_type}
		order by r.sequence asc
	</select>
	
	<select id="queryBusInfo" parameterType="String" resultType="Map">
		select b.*,f.factory_name,CONCAT(o.project_name,o.bus_type,' ',o.quantity,'台') AS order_desc,
		f.factory_name factory,p.workshop,p.line,p.station_name,'Standard order' order_type,o.bus_type
		from BMS_NA_PROJECT_BUS b
		left join BMS_NA_BASE_FACTORY f on b.production_plant_id=f.id
		left join BMS_NA_PROJECT o on b.project_id=o.id
		left join BMS_NA_BASE_STATION p on p.id=b.latest_station_id
		where b.bus_number=#{bus_number}
	</select>
	
	<select id="queryKeyParts" parameterType="Map" resultType="Map">
		select ptd.*,p.id parts_id,p.bus_number,p.batch
		from BMS_NA_PROJECT_TRACE_TEMPLATE ptd
		left join BMS_NA_BUS_TRACE p on p.trace_template_id=ptd.id and p.bus_number=#{bus_number} and p.production_plant_id=#{factory_id}
		where ptd.project_id=#{project_id}  and ptd.workshop=#{workshop}
		and ptd.station=#{station_name}
	</select>
	
	<select id="queryNextStation" parameterType="Map" resultType="Map">
		SELECT p.id station_id,p.station_name,r.sequence,r.workshop
		FROM BMS_NA_BASE_SCAN_RULE r
		LEFT JOIN BMS_NA_BASE_STATION p on r.factory=p.factory and r.workshop=p.workshop 
		and p.station_name=r.station_name 
		where r.factory=#{factory_name} 
		<if test="station_name !=null and station_name !=''">
		and r.sequence>=(
			select r1.sequence+1 from BMS_NA_BASE_SCAN_RULE r1 where r1.factory=#{factory_name}
			and r1.station_name=#{station_name} and r1.order_type=#{order_type})
		</if>		
		and r.order_type=#{order_type}  and p.monitory_point_flag='1'
		order by r.sequence 
		limit 1
	</select>
	
	<insert id="saveParts" parameterType="List"  useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="int" keyProperty="id" order="AFTER">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into BMS_NA_BUS_TRACE
		(bus_number,production_plant_id,trace_template_id,workshop,SAP_material,BYD_NO,parts_name,vendor,station,batch,editor_id,edit_date)
		values
		<foreach  collection="parts_list" item="detail" index="index" separator=",">
		(#{detail.bus_number},#{detail.production_plant_id},#{detail.id},#{detail.workshop},#{detail.SAP_material},#{detail.BYD_NO},
		#{detail.parts_name},#{detail.vendor},#{detail.station_name},#{detail.batch},#{detail.editor_id},#{detail.edit_date}
		)
		</foreach>
	</insert>
	
	<update id="updateParts" parameterType="List" >
		update BMS_NA_BUS_TRACE set
		batch=
		<foreach collection="parts_list" item="detail" index="index" separator="" open=" case id" close="end">
			when #{detail.parts_id} then #{detail.batch}
		</foreach>
		where id in
		<foreach collection="parts_list" item="detail" index="index" separator="," open=" (" close=")">
			#{detail.parts_id}
		</foreach>
	
	</update>
	
	<insert id="saveScanRecord" parameterType="Map"  useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="int" keyProperty="id" order="AFTER">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into BMS_NA_BUS_SCANNING_RECORD (bus_number,project_id,plant,workshop,line,station_id,station,rework,on_offline,scanner_id,scan_date)
		values
		(#{bus_number},#{project_id},#{factory_name},#{workshop_name},#{line_name},#{station_id},#{station_name},#{rework},#{on_offline},#{editor_id},#{edit_date})
	</insert>
	
	<update id="updateBusProcess" parameterType="Map">
		update BMS_NA_PROJECT_BUS set latest_station_id=#{station_id},current_station=#{station_name}
		where bus_number=#{bus_number}
	</update>
	
	<update id="updateBusPlanNodeDate" parameterType="Map">
		update BMS_NA_PROJECT_BUS set ${field_name}=#{edit_date}
		where bus_number=#{bus_number}
	</update>
	
	<select id="queryLastScanNode" parameterType="Map" resultType="Map">
		SELECT p.id station_id,p.station_name,r.sequence
		FROM BMS_NA_BASE_SCAN_RULE r
		LEFT JOIN BMS_NA_BASE_STATION p on r.factory=p.factory and r.workshop=p.workshop 
		and p.station_name=r.station_name and p.line=#{line_name}		
		where r.factory=#{factory_name} and r.sequence&lt;=(
			select r1.sequence-1 from BMS_NA_BASE_SCAN_RULE r1 where r1.factory=#{factory_name} 
			and r1.station_name=#{station_name} and r1.order_type=#{order_type})
		and r.order_type=#{order_type} 
		order by r.sequence desc
		limit 1
	</select>
	
	<select id="queryScanLastScanNode" parameterType="Map" resultType="Map">		
		SELECT s.id,s.station,s.scan_date
		FROM BMS_NA_BUS_SCANNING_RECORD s 
		where s.station=#{last_station_name} and s.bus_number=#{bus_number}  and s.rework='0' and s.on_offline='offline'
		order by s.scan_date desc limit 1
	</select>
	
	<select id="queryScanNodeRecord" parameterType="Map" resultType="Map">
		SELECT s.id,s.station,s.scan_date
		FROM BMS_NA_BUS_SCANNING_RECORD s 
		where s.station=#{station_name} and s.bus_number=#{bus_number}  and s.rework='0' and s.on_offline=#{on_offline}
		order by s.scan_date desc limit 1
	</select>
	
	<select id="queryWeldingOnlineCount" parameterType="Map" resultType="int">
		select count(id) from BMS_NA_PROJECT_BUS 
		where production_plant_id=#{factory_id} and project_id=#{project_id}
		and welding_online>0
	</select>
	
	<select id="queryWarehouseInfo" parameterType="Map" resultType="Map">
		select count(b.id) warehouse_count, 
		(select p.quantity from BMS_NA_PROJECT p 
		where p.project_id=#{project_id}) production_qty
		from BMS_PLAN_BUS b 
		where b.production_plant_id=#{factory_id} and b.project_id=#{project_id} and b.outgoing>0
	</select>
	
	<update id="updateProject" parameterType="Map">
		update BMS_NA_PROJECT set project_status=#{status} where id=#{project_id}
	</update>
<!-- ########################### xiong jianwu end#############################-->	

	<select id="getVinTotalCount" parameterType="Map" resultType="int">
		SELECT count(1) FROM BMS_NA_PROJECT_BUS b
		LEFT JOIN BMS_NA_PROJECT p ON b.project_id = p.id
		where 1=1
		<if test="project_id !=null and project_id !=''">
			and p.project_id like CONCAT(#{project_id},'%')   
		</if>
	</select>
    <update id="batchUpdateVin" parameterType="List">
		<foreach collection="list" item="detail" index="index"
			separator=";">
			update BMS_NA_PROJECT_BUS set vin=#{detail.vin} where
			 bus_number=#{detail.bus_number} and project_id=#{detail.project_id}
		</foreach>
	</update>
	<select id="getBusNumberList" parameterType="Map" resultType="Map">
		SELECT b.*,p.project_no,f.factory_name plant,u.username FROM BMS_NA_PROJECT_BUS b
		LEFT JOIN BMS_NA_PROJECT p ON b.project_id = p.id
		LEFT JOIN BMS_NA_BASE_FACTORY f ON b.production_plant_id = f.id
		LEFT JOIN BMS_NA_BASE_USER u on u.id=b.printer_id
		where 1=1
		<if test="plant !=null and plant !=''">
			and f.factory_name=#{plant}  
		</if>
		<if test="project_no !=null and project_no !=''">
			and p.project_no=#{project_no} 
		</if>
		<if test="bus_number !=null and bus_number !=''">
			and b.bus_number like CONCAT(#{bus_number},'%')   
		</if>
		<if test="print_flag !=null and print_flag !=''">
		    <if test="print_flag ==1">
			   and b.print_flag=#{print_flag}  
			</if> 
			<if test="print_flag ==0">
			   and IFNULL(b.print_flag,0)=#{print_flag}  
			</if> 
		</if>
		ORDER BY b.id DESC
		<if test="start !=null and length !='-1' ">
			LIMIT #{start} ,#{length} 
		</if>			
	</select>
	
	<select id="getBusNumberTotalCount" parameterType="Map" resultType="int">
		SELECT count(b.id) FROM BMS_NA_PROJECT_BUS b
		LEFT JOIN BMS_NA_PROJECT p ON b.project_id = p.id
		LEFT JOIN BMS_NA_BASE_FACTORY f ON b.production_plant_id = f.id
		where 1=1
		<if test="plant !=null and plant !=''">
			and f.factory_name=#{plant}  
		</if>
		<if test="project_no !=null and project_no !=''">
			and p.project_no=#{project_no} 
		</if>
		<if test="bus_number !=null and bus_number !=''">
			and b.bus_number like CONCAT(#{bus_number},'%')   
		</if>
		<if test="print_flag !=null and print_flag !=''">
		    <if test="print_flag ==1">
			   and b.print_flag=#{print_flag}  
			</if> 
			<if test="print_flag ==0">
			   and IFNULL(b.print_flag,0)=#{print_flag}  
			</if> 
		</if>
	</select>
	<update id="updateVinPrint" parameterType="Map">
		update BMS_NA_PROJECT_BUS
		<set>
			print_flag='1',printer_id=#{printer},print_date=#{printDate},print_times=ifnull(print_times,0)+1
		</set>
		where vin in
		<foreach collection="vinList" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</update>
	<select id="getProjectBusNumberList" parameterType="Map" resultType="Map">
		SELECT p.*,f.factory_name plant,u.username FROM BMS_NA_PROJECT p
		LEFT JOIN BMS_NA_BASE_FACTORY f ON p.production_plant_id = f.id
		LEFT JOIN BMS_NA_BASE_USER u on u.id=p.editor_id
		where 1=1
		<if test="plant !=null and plant !=''">
			and f.factory_name=#{plant}  
		</if>
		<if test="project_no !=null and project_no !=''">
			and p.project_no=#{project_no} 
		</if>
		<if test="status !=null and status !=''">
			and p.project_status=#{status}    
		</if>
		ORDER BY p.id DESC
		<if test="start !=null and length !='-1' ">
			LIMIT #{start} ,#{length} 
		</if>			
	</select>
	
	<select id="getProjectBusNumberCount" parameterType="Map" resultType="int">
		SELECT count(1) FROM BMS_NA_PROJECT p
		LEFT JOIN BMS_NA_BASE_FACTORY f ON p.production_plant_id = f.id
		LEFT JOIN BMS_NA_BASE_USER u on u.id=p.editor_id
		where 1=1
		<if test="plant !=null and plant !=''">
			and f.factory_name=#{plant}  
		</if>
		<if test="project_no !=null and project_no !=''">
			and p.project_no=#{project_no} 
		</if>
		<if test="status !=null and status !=''">
			and p.project_status=#{status}    
		</if>
	</select>
</mapper>
