<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byd.bms.production.dao.IProductionDao">
   <select id="getVinList" parameterType="Map" resultType="Map">
		SELECT b.*,u.username,p.edit_date FROM BMS_NA_PROJECT_BUS b
		LEFT JOIN BMS_NA_PROJECT p ON b.project_id = p.id
		LEFT JOIN BMS_NA_BASE_USER u ON u.id=p.editor_id
		where 1=1
		<if test="project_id !=null and project_id !=''">
			and b.project_id like CONCAT(#{project_id},'%')   
		</if>
		ORDER BY p.id DESC
		<if test="start !=null and length !='-1' ">
			LIMIT #{start} ,#{length} 
		</if>			
	</select>
	
	<select id="getVinTotalCount" parameterType="Map" resultType="int">
		SELECT count(1) FROM BMS_NA_PROJECT_BUS b
		LEFT JOIN BMS_NA_PROJECT p ON b.project_id = p.id
		where 1=1
		<if test="project_id !=null and project_id !=''">
			and p.project_id like CONCAT(#{project_id},'%')   
		</if>
	</select>
    <update id="batchUpdateVin" parameterType="List">
		<foreach collection="list" item="detail" index="index"
			separator=";">
			update BMS_NA_PROJECT_BUS set vin=#{detail.vin} where
			 bus_number=#{detail.bus_number} and project_id=#{detail.project_id}
		</foreach>
	</update>
	
</mapper>
